body{font-family: 'Open Sans';}
h1{
/* RAFAEL DAHIS: */
font-weight: normal;
font-size: 48px;
color: #222;
letter-spacing: -0.76px;
line-height: 34px;
}

h2{
	font-size: 28px;
	font-weight: normal;
}

h3{
font-weight: 700;
font-size: 21px;
color: #222;
letter-spacing: -1px;
border-bottom: 3px solid #FFAE00;
max-width: 50px;
margin-top: 16px;
}

.shorter-underline{max-width: 42px;}
.short-underline{max-width: 50px;}
.medium-underline{max-width: 62px;}
.long-underline{max-width: 90px;}
.longer-underline{max-width: 110px;}
.superlong-underline{max-width: 145px;}

h4{
font-weight: 600;
font-size: 16px;
color: #222;
letter-spacing: 0.75px;
margin-bottom: 3px;
margin-top: 30px;
}

p, li{
font-weight: lighter;
font-size: 15px;
color: #666666;
letter-spacing: 0.25px;
line-height: 18px;
margin-top: 0px;
margin-bottom: 10px;
}
li{margin-bottom: 2px;}

p > a, li > a{
color: #888;
text-decoration: none;
border-bottom: 0.5px dotted #888;
}
h4 > a, h1 > a, a{
color: inherit;
text-decoration: none;
}
a:hover{
color: #FFAE00;
}

.photo{
background: #D8D8D8;
border-radius: 100px;
width: 100px;
margin-bottom: -60px;
border: 4px solid #fafafa;
margin-right: 15px;
}

.subtitle, .subtitle-mobile{
margin-top: -25px;
padding-left: 124px;
margin-bottom: 35px;
font-size: 14px;
font-weight: lighter;
color: #666666;
letter-spacing: 0;
line-height: 15px;
}
.subtitle-mobile{display: none;}

@media screen and (max-width: 1000px) {
h1{margin-top:20px;margin-bottom:0px;text-align: center; line-height: 0.9em;font-size: 2em;}
.photo{display: block; margin: 0 auto; margin-bottom: 10px;}
h1 span{line-height: 0.5em; margin: 0 auto;text-align: center}
.subtitle{display: none;}
.subtitle-mobile{display: block;padding-left: 0px;margin:auto;width: 90%;text-align: center;margin-top:-10px;}
.section{
	width: 95% !important;
	padding-right: 0px !important;
	margin: 0 auto !important;
}
.section.middle{
	padding: 0px !important;
}
.container{
	width: 90% !important;
}

}

.container{
	width: 1024px;
}
.header{
	background-color: #fcfcfc;
	padding-top: 50px;
}
.section{
	display: inline-table;
	width: 315px;
}
.section.middle{
	padding-right: 33px;
	padding-left: 33px;
}

.contact{	
	font-weight: lighter;
	font-size: 15px;
	border-top: 1px solid #e8e8e8;
}
.companies-logo{
	height: 17px;
	margin-right: 8px;
}
.company-name{
	vertical-align: top;
}
.h4-details{
	font-size: 13px;
	vertical-align: super;
	letter-spacing: 0.15px;
}
.project-cell{
	background-color: #fcfcfc;
}
.project-cell:hover{
	background-color: #fbfbfb;
}